{% load  staticfiles %}
<!DOCTYPE HTML>
<!--
	Full Motion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>ReleaseDate.today</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
		<script src="{% static 'js/jquery.min.js' %}"></script>

  <script type="text/javascript" src="{% static 'js/jquery.countdown.js' %}"></script>
	<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
</head>
	<body id="top">

			<!-- Banner -->
			<!--
				To use a video as your background, set data-video to the name of your video without
				its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
				formats to work correctly.
			-->

				<section id="banner" data-video="/static/images/banner">
					<div class="inner">
							<h1 style="margin-top:1px"> <a href="{% url 'movie_list' %}">RelaseDate.today</a> </h1>
							{% if user.is_authenticated %}
						 <p style="padding-right:700px;"> <a href="{% url 'my_list' pk=user.id  %}"> <button type="button" class="btn btn-default">go to your list</button> </a></p>
						 <p style="padding-right:700px;" > <a href=" {% url 'accounts:logout' %}"> <button type="button" class="btn btn-default ">log out</button> </a> </p>
							{% else %}
							<p style="padding-right:700px;" > <a href="{% url 'accounts:signup' %}"> <button type="button" class="btn btn-default"> Register</button> </a> </p>
							<p style="padding-right:700px;" > <a href="{% url 'accounts:login' %}"> <button type="button" class="btn btn-default" >Log In</button> </a> </p>
							{% endif %}
							<p>You can register and save countdowns to your watchlist and allow notifications to your email </p>
					</div>
				</section>

			<!-- Main -->
				<div id="main">
					<div class="inner">

					<!-- Boxes -->
						<div class="thumbnails">
              {% block content %}
              {%  endblock %}


						</div>

					</div>
				</div>

			<!-- Footer -->
				<footer id="footer">
					<div class="inner">
						<h2>Etiam veroeros lorem</h2>
						<p>Pellentesque eleifend malesuada efficitur. Curabitur volutpat dui mi, ac imperdiet dolor tincidunt nec. Ut erat lectus, dictum sit amet lectus a, aliquet rutrum mauris. Etiam nec lectus hendrerit, consectetur risus viverra, iaculis orci. Phasellus eu nibh ut mi luctus auctor. Donec sit amet dolor in diam feugiat venenatis. </p>

						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<p class="copyright">&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com/">Unsplash</a>. Videos: <a href="http://coverr.co/">Coverr</a>.</p>
					</div>
				</footer>

		<!-- Scripts -->

			<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>

			<script src="{% static 'js/skel.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>
